<!DOCTYPE html>
<html>
<head>
  <title>Ipoh Airport - Cleartrip</title>
  <meta charset="UTF-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <style>
    html {
      font-size: 10px;
      font-family: sans-serif;
      box-sizing: border-box;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    body {
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333;
      margin: 0 auto;
      min-width: 320px;
      max-width: 1160px;
      background: #fcfcfc;
    }
    h1, h2, h3, h4 {
      font-weight: 600;
      color: #30343b;
      letter-spacing: 0;
      margin-block-end: 0.5em;
      margin-block-start: 0.5em;
    }
    h1 {
      font-size: 2.14rem;
      margin: 22px 0 9px 8px;
      padding-left: 2px;
    }
    h2 { font-size: 2.14rem; margin: 22px 0 9px 0; }
    h3 { font-size: 15px; margin: 17px 0 8px 0; color: #000; letter-spacing: .02em; font-weight: 700;}
    /* TOPBAR */
    .topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e6e6e6;
      padding: 13px 0 13px 0;
      background: #fff;
      
    }
    .top-left img { height: 24px; margin-right: 10px;cursor: pointer;}
    .top-left { display: flex; align-items: center; margin-left: 8px; }
    .top-right {
      margin-right: 40px;
    }
    .flag-circle { width: 32px; height: 32px; border-radius: 50%; overflow: hidden; border: 1px solid #ccc; display: inline-block; cursor: pointer;}
    #country-select { display: none; }
    /* SEARCH BAR */
    .bento-search-widget {
      padding: 0 0 20px 0;
      border-bottom: 1px solid #e6e6e6;
      background: #fff;
      position: relative;
      max-width: 100%;
      margin: 10px;
    }
    .search-box {
      display: flex;
      align-items: center;
      gap: 30px;
      width: 910px;
      max-width: 98vw;
      margin: 0 auto 0 0;
      background: none;
      padding: 0; 
    }
    .search-box select,
    .search-box input[type="text"], .search-box input[type="date"] {
      border: 1px solid #e5e6eb;
      background: #fff;
      border-radius: 4px;
      padding: 0 13px;
      height: 42px;
      min-width: 134px;
      max-width: 186px;
      font-size: 12px;
      color: #222;
      font-family: inherit;
      outline: none;
      font-weight: 500;
    }
    .search-box select { min-width: 116px; max-width: 140px; }
    .search-box input[type="text"] { min-width: 140px; max-width: 182px; }
    .search-box input[type="text"]:not(:last-of-type) { margin-right: 0; }
    .search-box input[type="text"]::placeholder {
      color: #bababa;
      font-weight: 500;
      font-size: 12px;
    }
    .swap-btn {
      height: 38px;
      width: 44px;
      border: none;
      background: #fffdfde5;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      padding: 0;
      margin: 0 -7px 0 -7px;
      cursor: pointer;
      border: 0 solid #e5e6eb;
    }
    .swap-btn svg { display: block; }
    .search-btn {
      background: #ff6601;
      color: white;
      border: none;
      border-radius: 4px;
      font-weight: 600;
      font-size: 1.63rem;
      height: 42px;
      min-width: 108px;
      margin-left: 8px;
      padding: 0 32px;
      letter-spacing: 0.01em;
      transition: background 0.17s;
      cursor: pointer;
    }
    .search-btn:hover { background: #0057faff; }
    .breadcrumb {
      font-size: 13.3px;
      color: #1c8ef8ff;
      margin: 21px 0 6px 8px;
      max-width: 910px;
      padding-left: 0;
      font-weight: 400;
      letter-spacing: 0.03em;
      /* Remove all decorations/links */
    }
    .breadcrumb a, .breadcrumb {
      color: #a3a6a8ff;
      text-decoration: none;
      cursor: default;
      pointer-events: none;
      margin-top: 1px;
    }
    .breadcrumb a:visited { color: #888; }
    .breadcrumb a:hover { text-decoration: underline; color: #f85a1cff;cursor:pointer;}
    .line-separator {
      border: none; 
      background-color: #e2e2e2;
      margin: 0 0 -20px 8px;
      width: 910px;
      max-width: 98vw;
      display: block;
    }
    .main-area {
      display: flex;
      gap: 60px;
      margin: 0 auto;
      width: 97%;
      max-width: 1150px;
    }
    .content   { width: 80%; max-width: 900px;}
    .sidebar   { width: 28%; min-width: 250px; }
    .highlight {
      background: #fffbe6;
      color: #535353;
      border-left: 4px solid #ffe58f;
      border-radius: 6px;
      margin: 0 0 25px 8px;
      padding: 17px 18px 13px 15px;
      font-size: 15.3px;
      max-width: 100%;
      font-family:arial, sans-serif;
    }
    .section { margin-bottom: 29px; margin-left: -5px;}

    ol, ul { color: #454545; font-size: 15.2px; margin: 0.7em 0 0.4em 0; }
    .section ul, .section ol { margin-left: 1.25em; }
    .info-table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      height:100%;
      font-size: 15.4px;
      border: 1.7px solid #b5b5b5;
      background: #fff;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 2px 6px #edece5;
    }
    .info-table th, .info-table td {
      border: 1px dotted #131111ff;
      padding: 9px 12px 9px 13px;
      color: #393939;
      font-weight: 400;
      background: #fff;
      font-size: 15.2px;
    }
    .info-table td:first-child {
      background: #fafafc;
      color: #686868;
      font-weight: 1000;
      width: 130px;
    }
    .sidebar img {
      width: 100%;
      max-width: 310px;
      height: 410px;
      object-fit: cover;
      border-radius: 0;
      border: 1px solid #eaeaea;
      box-shadow: 0 3px 10px #0002;
      margin-bottom: 20px;
      margin-top: -50px;
      display: block;
    }
    .sidebar ul {
      list-style: none;
      padding-left: 0;
      margin: 0 0 18px 0;
      color: #26315a;
      font-size: 12px;
    }
    .sidebar ul li { margin-bottom: 6px; }
    /* AIRLINE LIST CSS */
    .sidebar-airlines-list {
      list-style: none;
      padding: 0;
      margin: 0 0 8px 0;
    }
    .sidebar-airlines-list li {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 2px 0;
      font-size: 14.2px;
      color: #26315a;
      font-weight: 500;
    }
    .sidebar-airline-logo img {
      width: 35px;
      height: 35px;
      object-fit: cover;
      border-radius: 6px;
      background: #fff;
      border: 1px solid #ddebf4;
      padding: 2px;
      box-sizing: border-box;
      margin-top: 5px;
    }
    .sidebar-airline-name {
      margin-left: 0;
      font-size: 12px;
      font-weight: 500;
      color: #333cb0;
      text-decoration: none;
    }
    .sidebar-airline-name:hover { text-decoration: underline; }
    .footer-zone {
      background: #f7f7f7;
      margin-top: 1px;
      padding: 10px 0 0 20px;
      margin-left: -40px;
      margin-right: -40px;
      border-top: 1px solid #ececec;
      width: auto;
      min-width: 740px;
    }
    .footer-links {
      width: 96%;
      margin: auto;
      max-width: 1200px;
      font-size: 12px;
      color: #8a8a8a;
      line-height: 1.8;
      padding: 0 15px 0 8px;
    }
    .foot{
    margin-left:15px
    }
    .footer-section-title {
      color: #0e0202ff;
      font-weight: 700;
      font-size: 13px;  display: inline; margin-left: 1px;
      font-family: sans-serif;
    }
    
    .bottom-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 8px auto 0 auto;
      border-top: 0;
      font-size: 12px;
      color: #888;
      padding: 8px 28px 23px 14px;
      letter-spacing: .01em;
    }
    .bottom-footer a { color: #213; margin-left: 1px; font-size: 12px;}
    @media (max-width: 1000px) {
      .search-box, .breadcrumb, .line-separator, h1, h2, h3 { width:98vw; min-width:0; max-width:100vw; padding-left:3vw;}
      .main-area { flex-direction: column; width: 99vw; max-width: 100vw;}
      .sidebar img { min-width: 140px; max-width: 100%; }
      .sidebar, .content { width: 100%; }
    }
  </style>
</head>
<body>
  <div class="topbar">
    <div class="top-left">
      <%= image_tag 'logo.png', alt: 'Cleartrip Logo' %>
      <%= image_tag 'flight.png', alt: 'Flights' %>
      <%= image_tag 'hotel.png', alt: 'Hotels' %>
      <%= image_tag 'discount.png', alt: 'Discounts' %>
    </div>
    <div class="top-right">
      <div class="flag-circle" onclick="toggleCountrySelect()">
        <%= image_tag 'uae-flag.png', id: 'country-flag', alt: 'Country Flag', style: 'width:100%;height:100%;object-fit:cover;' %>
      </div>
      <select id="country-select" onchange="updateFlag()">
        <option value="<%= asset_path('uae-flag.png') %>" selected>UAE</option>
        <option value="<%= asset_path('india-flag.png') %>">India</option>
        <option value="<%= asset_path('saudi-flag.png') %>">Saudi Arabia</option>
        <option value="<%= asset_path('oman-flag.png') %>">Oman</option>
      </select>
    </div>
  </div>

  <div class="bento-search-widget">
    <div class="search-box">
      <select>
        <option selected>One way</option>
        <option>Round trip</option>
      </select>
      <input type="text" id="input-from" placeholder="Any Airport or City">
          <button class="swap-btn" type="button" aria-label="Swap" onclick ="swapInputs()">
            <svg width="35" height="20" viewBox="0 0 35 20" xmlns="http://www.w3.org/2000/svg">
              <!-- Top Line: arrow points RIGHT -->
              <line x1="4" y1="7" x2="24" y2="7" stroke="#3577ec" stroke-width="2" stroke-linecap="round"/>
              <polyline points="20,4 24,7 20,10" fill="none" stroke="#3577ec" stroke-width="2" stroke-linecap="round"/>
              
              <!-- Bottom Line: arrow points LEFT -->
              <line x1="24" y1="13" x2="4" y2="13" stroke="#3577ec" stroke-width="2" stroke-linecap="round"/>
              <polyline points="8,10 4,13 8,16" fill="none" stroke="#3577ec" stroke-width="2" stroke-linecap="round"/>
            </svg>
          </button>

      <input type="text" id="input-to" placeholder="Any Airport or City">
      <input type="date" style="font-weight:100;">
      <input type="text" placeholder="Return On">
      <select>
        <option selected>04 Travellers</option>
        <option>01 Traveller</option>
        <option>02 Travellers</option>
        <option>03 Travellers</option>
        <option>04 Travellers</option>
        <option>05 Travellers</option>
      </select>
      <button class="search-btn">Search</button>
    </div>
  </div>

  <div class="breadcrumb" >
    Home &raquo; Tourism &raquo; Ipoh Airports
  </div>
  <hr class="line-separator">

  <%= yield %>

  <script>
    function updateFlag() {
      const select = document.getElementById("country-select");
      const selectedFlag = select.value;
      document.getElementById("country-flag").src = selectedFlag;
      select.style.display = "none";
    }
    function toggleCountrySelect() {
      const select = document.getElementById("country-select");
      select.style.display = select.style.display === "none" ? "inline-block" : "none";
    }
    
  function swapInputs() {
    var inputFrom = document.getElementById('input-from');
    var inputTo = document.getElementById('input-to');
    // Temporary variable to hold one value
    var temp = inputFrom.value;
    inputFrom.value = inputTo.value;
    inputTo.value = temp;
  }


  </script>
</body>
</html>